@model Filmary.Web.ViewModels.RegisterViewModel


@{
    ViewData["Title"] = "Register page";
}

<h1 class="indent__margin-bottom">Register</h1>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="indent__margin-bottom">
        <input class="input" asp-for="Email" placeholder="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="indent__margin-bottom">
        <input class="input" asp-for="Username" placeholder="Username" type="text" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="indent__margin-bottom">
        <input class="input" asp-for="Password" placeholder="********" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="indent__margin-bottom">
        <input class="input" asp-for="PasswordConfirm" placeholder="********" type="password" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>

        <div class="indent__margin-bottom">
        <button class="button" type="submit">Register</button>
    </div>


</form>